@media only screen and (min-width: 320px) and (max-width: 575px) {

/*------- Common CSS Starts -------*/

.container-fluid { padding: 20px 15px; }
.container-fluid >.conatainer { padding: 0; }
.section-heading > h2,
.section-heading > h2.text-white { font-size: 2.4rem; }
p { font: 1.4rem/1.8 "Unbounded-Regular"; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Mobile Logo and Burger Menu Section Starts -------*/

.bg-logo-burger-menu-mobile { background-color: #ffffff; display: block; padding: 10px 15px; }
.header-logo-mobile > a { display: inline-block; }
.header-logo-mobile > a > img { width: 120px; }

	  /*------- Mobile Hamburger Menu Section Starts -------*/

.burger-menu { background-color: transparent; cursor: pointer; height: 25px; margin-left: auto; position: relative; width: 25px; z-index: 1; }
.burger-menu span { background-color: #000000; height: 2px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.burger-menu span::before,
.burger-menu span::after { background-color: #000000; content: ""; display: block; height: 2px; position: absolute; top: 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.burger-menu span::before { top: -10px; }
.burger-menu.active span { background-color: transparent; }
.burger-menu.active span::before { top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.burger-menu.active span::after { top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

	  /*------- Mobile Hamburger Menu Section Ends -------*/

  /*------- Mobile Logo and Burger Menu Section Ends -------*/

  /*------- Mobile Sidebar Menu Section Starts -------*/

.fixed-navbar-menu-mobile { background-color: #1a0a1e; display: block; height: 100%; left: 0; overflow-y: auto; padding: 15px; position: fixed; top: 0; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 250px; z-index: 10; }
.fixed-navbar-menu-mobile.active { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
.menu-listing-mobile > li { display: block; margin-bottom: 15px; position: relative; z-index: 1; }
.menu-listing-mobile > li:last-child { margin-bottom: 0; }
.menu-listing-mobile > li > a { color: #ffffff; font: 1.6rem/1.2 "Unbounded-Medium"; }
.menu-listing-mobile > li.active > a,
.menu-listing-mobile > li > a:hover { color: #00a59d; }
.menu-listing-mobile > li > i { position: absolute; right: 0; z-index: 1; }
.menu-listing-mobile > li > i,
.sub-menu-listing-mobile > li > i { color: #f7f7f7; font-size: 1.6rem; }
.sub-menu-listing-mobile { background-color: #2a1030; display: none; margin-top: 10px; padding: 15px; }
.sub-menu-listing-mobile > li { display: block; margin-bottom: 10px; }
.sub-menu-listing-mobile > li:last-child { margin-bottom: 0; }
.sub-menu-listing-mobile > li > a { color: #f7f7f7; font: 1.4rem/1.4 "Unbounded-Regular"; }
.sub-menu-listing-mobile > li > a:hover { color: #00a59d; }

  /*------- Mobile Sidebar Menu Section Ends -------*/

  /*------- Desktop Navbar Menu Section Starts -------*/

.bg-desktop-navbar-menu { display: none; }

	/*------- Desktop Navbar Menu Section Ends -------*/

  /*------- Banner Section Starts -------*/

.wrapper { margin-top: 0; }

  /*------- Banner Section Ends -------*/

  /*------- Counter Section Starts -------*/


  /*------- Counter Section Ends -------*/

  /*------- About Us Section Starts -------*/

.about-us-section-heading > h2,
.about-image > img { margin-bottom: 20px; }
.about-info > p { margin-bottom: 20px; }
.box-about-counter { margin-top: 30px; padding: 20px 20px 5px; }
.about-counter-info { margin-bottom: 20px; }

	/*------- About Us Section Ends -------*/

  /*------- Services Section Starts -------*/

.services-section > .container-fluid { padding: 20px 15px; }
.section-heading > div { margin-bottom: 15px; }
.services-section-heading > h2 { margin-bottom: 20px; }
.section-heading > div > span > svg,
.dash-arrow-design { display: none; }
.dash-arrow-and-paragraph { margin-bottom: 30px; }
.dash-arrow-and-paragraph > p { margin-left: 0; }
.box-services { margin-bottom: 20px; padding: 20px 20px 25px; }
.box-services:hover { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
.box-services-info > h4 { font-size: 1.8rem; line-height: 1.3; }
.box-services-info > p > a { font-size: 1.4rem; }

  /*------- Services Section Ends -------*/

  /*------- Features Section Starts -------*/


  /*------- Features Section Ends -------*/

  /*------- Portfolio Section Starts -------*/


  /*------- Portfolio Section Ends -------*/

  /*------- Newsletter Section Starts -------*/


  /*------- Newsletter Section Ends -------*/

  /*------- Testimonials Section Starts -------*/


  /*------- Testimonials Section Ends -------*/

  /*------- Blog Section Starts -------*/


  /*------- Blog Section Ends -------*/

  /*------- Contact Us Section Starts -------*/


  /*------- Contact Us Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-section > .container-fluid { padding: 20px 15px; }
.footer-heading > h4 { font-size: 1.8rem; line-height: 1.5; margin-bottom: 20px; }
.footer-company-desc > p { margin: 0 0 20px; }
.footer-quick-links-listing { margin-bottom: 20px; }
.footer-quick-links-listing > li { margin-bottom: 15px; }
.footer-social-account-listing { border: 2px solid #ffffff; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; margin: 10px 0 30px; padding: 20px; }
.footer-social-account-listing,
.footer-logo-contact-listing,
.footer-logo-contact-sub-listing { display: block; }
.footer-social-account-listing > li { margin: 0 0 10px; padding-right: 0; text-align: center; }
.footer-social-account-listing > li:last-child { margin: 0; }
.footer-social-account-listing > li > a { text-align: center; }
.footer-social-account-listing > li > a::after { display: none; }
.footer-logo-contact-listing { margin-bottom: 20px; padding: 20px; }
.footer-logo-contact-sub-listing > li { border-right: 0; padding: 30px 0; }
.footer-logo-contact-sub-listing > li:last-child { padding: 0; }
.footer-call-email > h4 > a { font-size: 1.8rem; word-break: break-all; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

/*------- Common CSS Starts -------*/

.container-fluid { padding: 20px 15px; }
.section-heading > h2,
.section-heading > h2.text-white { font-size: 2.4rem; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Mobile Logo and Burger Menu Section Starts -------*/

.bg-logo-burger-menu-mobile { background-color: #ffffff; display: block; padding: 10px 15px; }
.header-logo-mobile > a { display: inline-block; }
.header-logo-mobile > a > img { width: 120px; }

	  /*------- Mobile Hamburger Menu Section Starts -------*/

.burger-menu { background-color: transparent; cursor: pointer; height: 25px; margin-left: auto; position: relative; width: 25px; z-index: 1; }
.burger-menu span { background-color: #000000; height: 2px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.burger-menu span::before,
.burger-menu span::after { background-color: #000000; content: ""; display: block; height: 2px; position: absolute; top: 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.burger-menu span::before { top: -10px; }
.burger-menu.active span { background-color: transparent; }
.burger-menu.active span::before { top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.burger-menu.active span::after { top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

	  /*------- Mobile Hamburger Menu Section Ends -------*/

  /*------- Mobile Logo and Burger Menu Section Ends -------*/

  /*------- Mobile Sidebar Menu Section Starts -------*/

.fixed-navbar-menu-mobile { background-color: #1a0a1e; display: block; height: 100%; left: 0; overflow-y: auto; padding: 15px; position: fixed; top: 0; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 250px; z-index: 10; }
.fixed-navbar-menu-mobile.active { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
.menu-listing-mobile > li { display: block; margin-bottom: 15px; position: relative; z-index: 1; }
.menu-listing-mobile > li:last-child { margin-bottom: 0; }
.menu-listing-mobile > li > a { color: #ffffff; font: 1.6rem/1.2 "Unbounded-Medium"; }
.menu-listing-mobile > li.active > a,
.menu-listing-mobile > li > a:hover { color: #00a59d; }
.menu-listing-mobile > li > i { position: absolute; right: 0; z-index: 1; }
.menu-listing-mobile > li > i,
.sub-menu-listing-mobile > li > i { color: #f7f7f7; font-size: 1.6rem; }
.sub-menu-listing-mobile { background-color: #2a1030; display: none; margin-top: 10px; padding: 15px; }
.sub-menu-listing-mobile > li { display: block; margin-bottom: 10px; }
.sub-menu-listing-mobile > li:last-child { margin-bottom: 0; }
.sub-menu-listing-mobile > li > a { color: #f7f7f7; font: 1.4rem/1.4 "Unbounded-Regular"; }
.sub-menu-listing-mobile > li > a:hover { color: #00a59d; }

  /*------- Mobile Sidebar Menu Section Ends -------*/

  /*------- Desktop Navbar Menu Section Starts -------*/

.bg-desktop-navbar-menu { display: none; }

	/*------- Desktop Navbar Menu Section Ends -------*/

  /*------- Banner Section Starts -------*/

.wrapper { margin-top: 0; }

  /*------- Banner Section Ends -------*/

  /*------- Counter Section Starts -------*/


  /*------- Counter Section Ends -------*/

  /*------- About Us Section Starts -------*/


	/*------- About Us Section Ends -------*/

  /*------- Services Section Starts -------*/


  /*------- Services Section Ends -------*/

  /*------- Features Section Starts -------*/


  /*------- Features Section Ends -------*/

  /*------- Portfolio Section Starts -------*/


  /*------- Portfolio Section Ends -------*/

  /*------- Newsletter Section Starts -------*/


  /*------- Newsletter Section Ends -------*/

  /*------- Testimonials Section Starts -------*/


  /*------- Testimonials Section Ends -------*/

  /*------- Blog Section Starts -------*/


  /*------- Blog Section Ends -------*/

  /*------- Contact Us Section Starts -------*/


  /*------- Contact Us Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-social-account-listing,
.footer-logo-contact-sub-listing { display: block; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

/*------- Common CSS Starts -------*/

.container-fluid { padding: 20px 15px; }
.section-heading > h2,
.section-heading > h2.text-white { font-size: 2.4rem; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Mobile Logo and Burger Menu Section Starts -------*/

.bg-logo-burger-menu-mobile { background-color: #ffffff; display: block; padding: 10px 15px; }
.header-logo-mobile > a { display: inline-block; }
.header-logo-mobile > a > img { width: 120px; }

	  /*------- Mobile Hamburger Menu Section Starts -------*/

.burger-menu { background-color: transparent; cursor: pointer; height: 25px; margin-left: auto; position: relative; width: 25px; z-index: 1; }
.burger-menu span { background-color: #000000; height: 2px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.burger-menu span::before,
.burger-menu span::after { background-color: #000000; content: ""; display: block; height: 2px; position: absolute; top: 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.burger-menu span::before { top: -10px; }
.burger-menu.active span { background-color: transparent; }
.burger-menu.active span::before { top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.burger-menu.active span::after { top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

	  /*------- Mobile Hamburger Menu Section Ends -------*/

  /*------- Mobile Logo and Burger Menu Section Ends -------*/

  /*------- Mobile Sidebar Menu Section Starts -------*/

.fixed-navbar-menu-mobile { background-color: #1a0a1e; display: block; height: 100%; left: 0; overflow-y: auto; padding: 15px; position: fixed; top: 0; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 250px; z-index: 10; }
.fixed-navbar-menu-mobile.active { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
.menu-listing-mobile > li { display: block; margin-bottom: 15px; position: relative; z-index: 1; }
.menu-listing-mobile > li:last-child { margin-bottom: 0; }
.menu-listing-mobile > li > a { color: #ffffff; font: 1.6rem/1.2 "Unbounded-Medium"; }
.menu-listing-mobile > li.active > a,
.menu-listing-mobile > li > a:hover { color: #00a59d; }
.menu-listing-mobile > li > i { position: absolute; right: 0; z-index: 1; }
.menu-listing-mobile > li > i,
.sub-menu-listing-mobile > li > i { color: #f7f7f7; font-size: 1.6rem; }
.sub-menu-listing-mobile { background-color: #2a1030; display: none; margin-top: 10px; padding: 15px; }
.sub-menu-listing-mobile > li { display: block; margin-bottom: 10px; }
.sub-menu-listing-mobile > li:last-child { margin-bottom: 0; }
.sub-menu-listing-mobile > li > a { color: #f7f7f7; font: 1.4rem/1.4 "Unbounded-Regular"; }
.sub-menu-listing-mobile > li > a:hover { color: #00a59d; }

  /*------- Mobile Sidebar Menu Section Ends -------*/

  /*------- Desktop Navbar Menu Section Starts -------*/

.bg-desktop-navbar-menu { display: none; }

	/*------- Desktop Navbar Menu Section Ends -------*/

  /*------- Banner Section Starts -------*/

.wrapper { margin-top: 0; }

  /*------- Banner Section Ends -------*/

  /*------- Counter Section Starts -------*/


  /*------- Counter Section Ends -------*/

  /*------- About Us Section Starts -------*/


	/*------- About Us Section Ends -------*/

  /*------- Services Section Starts -------*/


  /*------- Services Section Ends -------*/

  /*------- Features Section Starts -------*/


  /*------- Features Section Ends -------*/

  /*------- Portfolio Section Starts -------*/


  /*------- Portfolio Section Ends -------*/

  /*------- Newsletter Section Starts -------*/


  /*------- Newsletter Section Ends -------*/

  /*------- Testimonials Section Starts -------*/


  /*------- Testimonials Section Ends -------*/

  /*------- Blog Section Starts -------*/


  /*------- Blog Section Ends -------*/

  /*------- Contact Us Section Starts -------*/


  /*------- Contact Us Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-social-account-listing,
.footer-logo-contact-sub-listing { display: block; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

/*------- Common CSS Starts -------*/

.container-fluid { padding: 20px 15px; }
.section-heading > h2,
.section-heading > h2.text-white { font-size: 2.4rem; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Mobile Logo and Burger Menu Section Starts -------*/

.bg-logo-burger-menu-mobile { background-color: #ffffff; display: block; padding: 10px 15px; }
.header-logo-mobile > a { display: inline-block; }
.header-logo-mobile > a > img { width: 120px; }

	  /*------- Mobile Hamburger Menu Section Starts -------*/

.burger-menu { background-color: transparent; cursor: pointer; height: 25px; margin-left: auto; position: relative; width: 25px; z-index: 1; }
.burger-menu span { background-color: #000000; height: 2px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.burger-menu span::before,
.burger-menu span::after { background-color: #000000; content: ""; display: block; height: 2px; position: absolute; top: 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.burger-menu span::before { top: -10px; }
.burger-menu.active span { background-color: transparent; }
.burger-menu.active span::before { top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.burger-menu.active span::after { top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

	  /*------- Mobile Hamburger Menu Section Ends -------*/

  /*------- Mobile Logo and Burger Menu Section Ends -------*/

  /*------- Mobile Sidebar Menu Section Starts -------*/

.fixed-navbar-menu-mobile { background-color: #1a0a1e; display: block; height: 100%; left: 0; overflow-y: auto; padding: 15px; position: fixed; top: 0; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 250px; z-index: 10; }
.fixed-navbar-menu-mobile.active { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
.menu-listing-mobile > li { display: block; margin-bottom: 15px; position: relative; z-index: 1; }
.menu-listing-mobile > li:last-child { margin-bottom: 0; }
.menu-listing-mobile > li > a { color: #ffffff; font: 1.6rem/1.2 "Unbounded-Medium"; }
.menu-listing-mobile > li.active > a,
.menu-listing-mobile > li > a:hover { color: #00a59d; }
.menu-listing-mobile > li > i { position: absolute; right: 0; z-index: 1; }
.menu-listing-mobile > li > i,
.sub-menu-listing-mobile > li > i { color: #f7f7f7; font-size: 1.6rem; }
.sub-menu-listing-mobile { background-color: #2a1030; display: none; margin-top: 10px; padding: 15px; }
.sub-menu-listing-mobile > li { display: block; margin-bottom: 10px; }
.sub-menu-listing-mobile > li:last-child { margin-bottom: 0; }
.sub-menu-listing-mobile > li > a { color: #f7f7f7; font: 1.4rem/1.4 "Unbounded-Regular"; }
.sub-menu-listing-mobile > li > a:hover { color: #00a59d; }

  /*------- Mobile Sidebar Menu Section Ends -------*/

  /*------- Desktop Navbar Menu Section Starts -------*/

.bg-desktop-navbar-menu { display: none; }

	/*------- Desktop Navbar Menu Section Ends -------*/

  /*------- Banner Section Starts -------*/

.wrapper { margin-top: 0; }

  /*------- Banner Section Ends -------*/

  /*------- Counter Section Starts -------*/


  /*------- Counter Section Ends -------*/

  /*------- About Us Section Starts -------*/


	/*------- About Us Section Ends -------*/

  /*------- Services Section Starts -------*/


  /*------- Services Section Ends -------*/

  /*------- Features Section Starts -------*/


  /*------- Features Section Ends -------*/

  /*------- Portfolio Section Starts -------*/


  /*------- Portfolio Section Ends -------*/

  /*------- Newsletter Section Starts -------*/


  /*------- Newsletter Section Ends -------*/

  /*------- Testimonials Section Starts -------*/


  /*------- Testimonials Section Ends -------*/

  /*------- Blog Section Starts -------*/


  /*------- Blog Section Ends -------*/

  /*------- Contact Us Section Starts -------*/


  /*------- Contact Us Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-social-account-listing,
.footer-logo-contact-sub-listing { display: block; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

}