/*------- Font Family Starts -------*/

@font-face { font-family: "Unbounded-Light"; src: url("../fonts/Unbounded-Light.ttf"); }
@font-face { font-family: "Unbounded-Regular"; src: url("../fonts/Unbounded-Regular.ttf"); }
@font-face { font-family: "Unbounded-Medium"; src: url("../fonts/Unbounded-Medium.ttf"); }
@font-face { font-family: "Unbounded-SemiBold"; src: url("../fonts/Unbounded-SemiBold.ttf"); }
@font-face { font-family: "Unbounded-Bold"; src: url("../fonts/Unbounded-Bold.ttf"); }

/*------- Font Family Ends -------*/

/*------- Reset CSS Starts -------*/

html { font-size: 10px; letter-spacing: 0.5px; }
body.active { overflow: hidden; }
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address { margin: 0; padding: 0; }
ul > li { list-style: none; }
a,
a:hover,
a:focus { outline: 0; text-decoration: none; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }

/*------- Reset CSS Ends -------*/

/*------- Common CSS Starts -------*/

.container-fluid { padding: 70px 15px; }
.row { margin: 0 -15px; }
.row [class^=col] { padding: 0 15px; }
.section-heading > div > span { color: #041e20; font: 1.6rem/normal "Unbounded-Medium"; }
.section-heading > div > span.text-white { color: #ffffff; font: 1.6rem/normal "Unbounded-Medium"; }
.section-heading > div > span > svg { fill: #38ad7e; margin-left: 15px; }
.section-heading > h2 { color: #041e20; font: 3.6rem/1.4 "Unbounded-SemiBold"; margin-bottom: 50px; }
.section-heading > h2 span { color: #38ad7e; }
.section-heading > h2.text-white { color: #ffffff; font: 3.6rem/1.4 "Unbounded-SemiBold"; }
.section-heading-ip > h1 { color: #ffffff; font: 4rem/1.2 "Unbounded-Bold"; padding-bottom: 10px; position: relative; text-align: center; text-transform: uppercase; z-index: 1; }
.section-heading-ip > h1::after { background-color: #fff; bottom: 0; content: ""; display: block; height: 2px; left: 50%; position: absolute; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); width: 100px; z-index: -1; }
p { color: #444444; font: 1.6rem/2 "Unbounded-Regular"; }
button.btn-primary,
.btn-primary > a { background-color: #041e20; border: 2px solid #041e20; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #ffffff; font: 1.6rem/normal "Unbounded-Medium"; display: inline-block; padding: 11px 22px; text-align: center; }
button.btn-primary { -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
button.btn-primary > svg,
.btn-primary > a > svg { fill: #ffffff; margin: -5px 0 0 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
button.btn-primary:hover,
.btn-primary > a:hover { background-color: #38ad7e; border: 2px solid #38ad7e; color: #ffffff; }
.btn-primary > a:hover > svg { fill: #ffffff; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.btn-secondary > a { border: 2px solid #041e20; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #041e20; font: 1.6rem/normal "Unbounded-Medium"; display: inline-block; padding: 11px 22px; text-align: center; }
.btn-secondary > a > svg { fill: #041e20; margin: -5px 0 0 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.btn-secondary > a:hover { background-color: #041e20; color: #ffffff; }
.btn-secondary > a:hover > svg { fill: #ffffff; }
.btn-primary-white > a { background-color: #ffffff; border: 2px solid #ffffff; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #041e20; font: 1.6rem/normal "Unbounded-Medium"; display: inline-block; padding: 11px 22px; text-align: center; }
.btn-primary-white > a > svg { fill: #041e20; margin: -5px 0 0 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.btn-primary-white > a:hover { background-color: #38ad7e; border: 2px solid #38ad7e; color: #ffffff; }
.btn-primary-white > a:hover > svg { fill: #ffffff; }
.img-move-ani { -webkit-animation: imgMoveAni 4s infinite; animation: imgMoveAni 4s infinite; width: 100%; }
@-webkit-keyframes imgMoveAni {
	0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
	50% { -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); transform: rotate(2deg); }
	100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
}
@-moz-keyframes imgMoveAni {
	0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
	50% { -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); transform: rotate(2deg); }
	100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
}
@-ms-keyframes imgMoveAni {
	0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
	50% { -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); transform: rotate(2deg); }
	100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
}
@-o-keyframes imgMoveAni {
	0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
	50% { -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); transform: rotate(2deg); }
	100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
}
@keyframes imgMoveAni {
	0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
	50% { -webkit-transform: rotate(2deg); -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); transform: rotate(2deg); }
	100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
}

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

	/*------- Mobile Header Section Starts -------*/

.bg-logo-burger-menu-mobile { display: none; }

	/*------- Mobile Header Section Ends -------*/
	
	/*------- Fixed Full Menu Pattern Section Starts -------*/

	.fixed-full-menu-pattern { display: none; }

	/*------- Fixed Full Menu Pattern Section Ends -------*/

	/*------- Desktop Navbar Menu Section Starts -------*/

.bg-desktop-navbar-menu { background-color: #ffffff; display: block; padding: 0 50px; position: fixed; top: 0; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 100%; z-index: 4; }
.bg-desktop-navbar-menu-ip { background-color: #ffffff; }
.bg-desktop-navbar-menu.active { background-color: #ffffff; -webkit-box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%); -moz-box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%); -ms-box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%); -o-box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%); box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%); -webkit-transition: 0s; -moz-transition: 0s; -ms-transition: 0s; -o-transition: 0s; transition: 0s; }
.navbar-logo-desktop > a { display: inline-block; }
.navbar-logo-desktop > a > img { width: 110px; }
.menu-listing-desktop > li { display: inline-block; margin-right: 30px; position: relative; z-index: 10; }
.menu-listing-desktop > li:last-child { margin-right: 0; }
.menu-listing-desktop > li > a { color: #000000; display: block; font: 1.4rem/normal "Unbounded-Medium"; padding: 42px 0; text-transform: uppercase; }
.menu-listing-desktop > li > a > i { margin-left: 5px; }
.menu-listing-desktop > li.active > a,
.menu-listing-desktop > li > a:hover { color: #38ad7e; }
.sub-menu-listing-desktop { background-color: #0e5f66; left: 0; opacity: 0; position: absolute; top: 110%; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; visibility: hidden; width: 380px; z-index: 10; }
.menu-listing-desktop > li:hover > a + .sub-menu-listing-desktop { opacity: 1; top: 100%; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; visibility: visible; }
.sub-menu-listing-desktop > li { display: block; position: relative; text-align: left; z-index: 10; }
.sub-menu-listing-desktop > li > a { border-bottom: 1px solid rgb(255 255 255 / 20%); color: #ffffff; display: block; font: 1.4rem/normal "Unbounded-Regular"; padding: 12px 20px; position: relative; text-transform: uppercase; z-index: 10; }
.sub-menu-listing-desktop > li > a > i { position: absolute; right: 20px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); z-index: 10; }
.sub-menu-listing-desktop > li:last-child > a { border-bottom: 0; }
.sub-menu-listing-desktop > li > a:hover { background-color: #38ad7e; }
.get-a-quote-header > a { align-items: center; display: flex; justify-content: center; padding: 11px 15px; }

	/*------- Desktop Navbar Menu Section Ends -------*/

	/*------- Banner Section Starts -------*/

.wrapper { margin-top: 100px; }
.section-banner { background-color: rgb(56 173 126 / 10%); }
.banner-image > img { width: 100%; }
.banner-section-heading > div { margin-bottom: 20px; }
.banner-section-heading > h1 { color: #041e20; font: 4rem/1.4 "Unbounded-Bold"; margin-bottom: 30px; }
.banner-section-heading > h1 > span { color: #38ad7e; }
.banner-section-heading > h1 > span:last-child { color: #e5f6f5; display: block; position: relative; z-index: 1; }
.banner-section-heading > h1 > span:last-child::before {
	-webkit-animation: animateTextBanner 7s linear infinite;
	animation: animateTextBanner 7s linear infinite;
	border-right: 1px solid #e5f6f5;
	color: #38ad7e;
	content: attr(data-text);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	white-space: nowrap;
	width: 100%;
	z-index: 1;
}
@-webkit-keyframes animateTextBanner {
	0% { width: 0; }
	50% { width: 100%; }
	100% { width: 0; }
}
@-moz-keyframes animateTextBanner {
	0% { width: 0; }
	50% { width: 100%; }
	100% { width: 0; }
}
@-ms-keyframes animateTextBanner {
	0% { width: 0; }
	50% { width: 100%; }
	100% { width: 0; }
}
@-o-keyframes animateTextBanner {
	0% { width: 0; }
	50% { width: 100%; }
	100% { width: 0; }
}
@keyframes animateTextBanner {
	0% { width: 0; }
	50% { width: 100%; }
	100% { width: 0; }
}
.banner-listing > li { margin-right: 15px; }
.banner-listing > li:last-child { margin-right: 0; }

	/*------- Banner Section Ends -------*/

	/*------- About Us Section Starts -------*/

.about-us-section { background-color: #041e20; position: relative; z-index: 1; }
.about-us-logo-image { bottom: 100px; left: 50px; position: absolute; z-index: -1; }
.about-us-logo-image > img { opacity: 0.15; width: 250px; }
.about-image > img { -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; width: 100%; }
.about-info > p { color: #c4c4c4; margin-bottom: 30px; }
.box-about-counter { border: 2px solid #ffffff; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; margin-top: 70px; padding: 30px; }
.about-counter-info > h2 { color: #ffffff; font: 3.6rem/normal "Unbounded-SemiBold"; margin-bottom: 5px; }
.about-counter-info > div > span { color: #dfdfdf; font: 1.4rem/normal "Unbounded-Medium"; }

	/*------- About Us Section Ends -------*/

	/*------- Services Section Starts -------*/

.dash-arrow-and-paragraph { margin-bottom: 70px; position: relative; z-index: 1; }
.dash-arrow-design {
	background-color: #444444;
	content: "";
	height: 1px;
	left: 0;
	margin-top: -1px;
	position: absolute;
	top: 50%;
	width: 200px;
	z-index: -1;
}
.dash-arrow-design.text-white { background-color: #ffffff; }
.dash-arrow-design::after {
	background-color: #444444;
	-webkit-clip-path: polygon(100% 50%, 0 100%, 0 0);
	clip-path: polygon(100% 50%, 0 100%, 0 0);
	content: "";
	height: 6px;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 5px;
	z-index: -1;
}
.dash-arrow-design.text-white::after { background-color: #ffffff; }
.dash-arrow-and-paragraph > p { margin-left: 230px; }
.box-services { background-color: #ffffff; border: 2px solid #c4c4c4; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; margin-bottom: 30px; padding: 0 25px 30px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-services-icon,
.box-services-sp-icon { -webkit-align-items: center; align-items: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 90px; justify-content: center; margin: 30px auto 40px; position: relative; width: 90px; z-index: 1; }
.box-services-sp-icon { margin: 0 40px 0 0; }
.box-services-sp-info { width: calc(100% - 130px); }
.box-services-icon-1,
.box-services-sp-icon-1 { background-color: #ffa808; }
.box-services-icon-2,
.box-services-sp-icon-2 { background-color: #ff586e; }
.box-services-icon-3,
.box-services-sp-icon-3 { background-color: #029e76; }
.box-services-icon-4,
.box-services-sp-icon-4 { background-color: #8bc34a; }
.box-services-icon-5,
.box-services-sp-icon-5 { background-color: #0b76cb; }
.box-services-icon-6,
.box-services-sp-icon-6 { background-color: #795548; }
.box-services-icon-7,
.box-services-sp-icon-7 { background-color: #824cdb; }
.box-services-icon-1::after,
.box-services-sp-icon-1::after,
.box-services-icon-2::after,
.box-services-sp-icon-2::after,
.box-services-icon-3::after,
.box-services-sp-icon-3::after,
.box-services-icon-4::after,
.box-services-sp-icon-4::after,
.box-services-icon-5::after,
.box-services-sp-icon-5::after,
.box-services-icon-6::after,
.box-services-sp-icon-6::after,
.box-services-icon-7::after,
.box-services-sp-icon-7::after {
	background-image: url("../images/services-dots-1.png");
	background-position: 100%;
	content: "";
	display: block;
	height: 132px;
	position: absolute;
	right: -20px;
	top: -30px;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	width: 82px;
	z-index: -1;
}
.box-services-icon-2::after,
.box-services-sp-icon-2::after { background-image: url("../images/services-dots-2.png"); }
.box-services-icon-3::after,
.box-services-sp-icon-3::after { background-image: url("../images/services-dots-3.png"); }
.box-services-icon-4::after,
.box-services-sp-icon-4::after { background-image: url("../images/services-dots-4.png"); }
.box-services-icon-5::after,
.box-services-sp-icon-5::after { background-image: url("../images/services-dots-5.png"); }
.box-services-icon-6::after,
.box-services-sp-icon-6::after { background-image: url("../images/services-dots-6.png"); }
.box-services-icon-7::after,
.box-services-sp-icon-7::after { background-image: url("../images/services-dots-7.png"); }
.box-services-icon-1 > img,
.box-services-sp-icon-1 > img { width: 55px; }
.box-services-icon-2 > img,
.box-services-sp-icon-2 > img { width: 55px; }
.box-services-icon-3 > img,
.box-services-sp-icon-3 > img { width: 45px; }
.box-services-icon-4 > img,
.box-services-sp-icon-4 > img { width: 60px; }
.box-services-icon-5 > img,
.box-services-sp-icon-5 > img { width: 55px; }
.box-services-icon-6 > img,
.box-services-sp-icon-6 > img { width: 55px; }
.box-services-icon-7 > img,
.box-services-sp-icon-7 > img { width: 40px; }
.box-services-info > h4,
.box-services-sp-info > h4 { color: #041e20; font: 1.8rem/1.4 "Unbounded-Medium"; margin-bottom: 15px; text-transform: uppercase; }
.box-services-info > h4 > span,
.box-services-sp-info > h4 > span { display: block; }
.box-services-info > p:nth-child(2) {
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
					line-clamp: 3; 
	-webkit-box-orient: vertical;
}
.box-services-info > p > a,
.box-services-sp-info > p > a { color: #041e20; font: 1.6rem/1.2 "Unbounded-Medium"; padding-bottom: 10px; position: relative; text-transform: uppercase; z-index: 1; }
.box-services-info > p > a::after,
.box-services-sp-info > p > a::after { background-color: #041e20; bottom: 0; content: ""; height: 2px; left: 50%; position: absolute; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 50%; z-index: 1; }
.box-services-info > p > a:hover,
.box-services-sp-info > p > a:hover { color: #38ad7e; }
.box-services-info > p > a:hover::after,
.box-services-sp-info > p > a:hover::after { background-color: #38ad7e; width: 100%; }
.box-services:hover,
.box-services-sp:hover { -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); transform: translateY(-10px); }
.box-services:hover .box-services-icon::after { right: 40px; }
.view-more-services-details,
.view-more-blog-details { margin-top: 20px; }

	/*------- Services Section Ends -------*/

	/*------- Services Information Animation Section Starts -------*/

.services-information-animation-section { background-color: #38ad7e; padding: 30px 0; }
.services-information-slider { overflow: hidden; }
.services-information-slider .services-information-slider-marquee { display: flex; gap: 30px; overflow: hidden;	-webkit-user-select: none; -moz-user-select: none;	user-select: none; }
.services-information-slider .services-information-slider-marquee .services-information-slider-marquee-group { align-items: center; -webkit-animation: services-information-slider-anim 70s linear infinite; animation: services-information-slider-anim 70s linear infinite; display: flex; flex-shrink: 0;	gap: 30px; min-width: 100%; }
.services-information-slider .services-information-slider-marquee .services-information-slider-marquee-group span {	align-items: center; color: #ffffff;	display: flex; font: 5rem/normal "Unbounded-SemiBold"; gap: 30px; letter-spacing: 1px; }
.services-information-slider .services-information-slider-marquee .services-information-slider-marquee-group span svg {	fill: #ffffff; }
.services-information-slider .services-information-slider-marquee .services-information-slider-marquee-group span svg.circle { fill: none;	stroke: #041e20; }
@keyframes services-information-slider-anim {
	from {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);	;
	}
	to {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

	/*------- Services Information Animation Section Ends -------*/

	/*------- Why Choose Us Section Starts -------*/

.box-why-choose-us { background-color: #ffffff; border: 2px solid #c4c4c4; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; margin: 45px 0 30px; padding: 75px 25px 30px; position: relative; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; z-index: 1; }
.box-why-choose-us-icon { background-color: #ffffff; border: 2px solid #c4c4c4; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; height: 90px; left: 50%; position: absolute; top: -45px; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 90px; z-index: 1; }
.box-why-choose-us-icon > svg { height: 45px; fill: #38ad7e; }
.box-why-choose-us-info > h4 { color: #041e20; font: 1.8rem/1.2 "Unbounded-Medium"; margin-bottom: 15px; text-transform: uppercase; }
.box-why-choose-us-info > p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
					line-clamp: 3; 
	-webkit-box-orient: vertical;
}
.box-why-choose-us:hover,
.box-why-choose-us:hover > .box-why-choose-us-icon { border: 1px solid #38ad7e; }
.box-why-choose-us:hover > .box-why-choose-us-icon { background-color: #38ad7e; }
.box-why-choose-us:hover .box-why-choose-us-icon > svg { fill: #ffffff; }

	/*------- Why Choose Us Section Ends -------*/

	/*------- Blog Section Starts -------*/

.blog-section { background-color: rgb(56 173 126 / 10%); position: relative; z-index: 1; }
.blog-top-shape { left: 0; position: absolute; top: -10vw; width: 100%; z-index: -1; }
.blog-top-shape > img { width: 100%; }
.blog-bottom-shape { bottom: -10vw; left: 0; position: absolute; width: 100%; z-index: -1; }
.blog-bottom-shape > img { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); width: 100%; }
.blog-section > .container-fluid { padding: 30px 15px; }
.box-blogs { background-color: #ffffff; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; margin-bottom: 30px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-blogs:hover { box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); transform: translateY(-10px); }
.box-blogs-image > img { -webkit-border-radius: 14px 14px 0 0; -moz-border-radius: 14px 14px 0 0; -ms-border-radius: 14px 14px 0 0; -o-border-radius: 14px 14px 0 0; border-radius: 14px 14px 0 0; }
.box-blogs-info { padding: 40px 20px 20px 20px; position: relative; z-index: 1; }
.box-blogs-date { background-color: #ffffff; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px; left: 20px; padding: 15px; position: absolute; top: -30px; }
.box-blogs-date > span { color: #041e20; display: block; font: 1.4rem/normal "Unbounded-SemiBold"; text-align: center; }
.box-blogs-date > span > span { color: #38ad7e; }
.box-blogs-name > p { line-height: 1.5; margin-bottom: 20px; }
.box-blogs-name > p > a { -webkit-box-orient: vertical; color: #000000; display: -webkit-box; font-family: "Unbounded-Medium"; font-size: 1.8rem; -webkit-line-clamp: 2; line-clamp: 2; line-height: 1.5; margin-bottom: 20px; overflow: hidden; text-overflow: ellipsis; }
.box-blogs-name > p > a:hover { color: #38ad7e; }

	/*------- Blog Section Ends -------*/

	/*------- Contact Us Section Starts -------*/

.contact-us-section > .container-fluid { padding: 200px 15px 70px; }
.form-group-contact-us,
.form-group-career { margin-bottom: 30px; }
.form-control-contact-us,
.form-control-career { border: 2px solid #041e20; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #041e20; font-family: "Unbounded-Regular"; font-size: 1.6rem; height: 44px; letter-spacing: 0.5px; padding: 6px 12px; }
.form-control-contact-us::placeholder,
.form-control-career::placeholder { color: #041e20; opacity: 1; }
textarea.form-control-contact-us,
textarea.form-control-career { height: 130px; resize: none; }
.form-control-contact-us:focus,
.form-control-career:focus { border: 2px solid #38ad7e; box-shadow: none; outline: 0; }
.form-control-contact-us:focus::placeholder,
.form-control-career:focus::placeholder { color: #38ad7e; }
.btn-submit { background-color: #041e20; border: 2px solid #041e20; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #ffffff; font: 1.6rem/normal "Unbounded-Medium"; display: inline-block; padding: 11px 22px; text-align: center; }
.btn-submit:hover { background-color: #38ad7e; color: #ffffff; }

	/*------- Contact Us Section Ends -------*/

	/*------- Footer Section Starts -------*/

.footer-section { background-color: #041e20; position: relative; z-index: 1; }
.footer-section > .container-fluid { padding: 70px 15px 30px; }
.footer-section-svg { bottom: 0; left: 0; position: absolute; z-index: -1; }
.footer-section-svg > svg { stroke: #06272c; }
.footer-heading > h4 { color: #ffffff; font: 2.4rem/normal "Unbounded-SemiBold"; margin-bottom: 30px; }
.footer-company-desc > p { color: #dfdfdf; margin: 0 50px 50px 0; }
.footer-quick-links-listing { margin-bottom: 50px; }
.footer-quick-links-listing > li { margin-bottom: 20px; }
.footer-quick-links-listing > li:last-child { margin-bottom: 0; }
.footer-quick-links-listing > li > a { color: #dfdfdf; display: inline-block; font: 1.4rem/normal "Unbounded-Regular"; }
.footer-quick-links-listing > li > a > svg { fill: #38ad7e; margin-left: 0; opacity: 0; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.footer-quick-links-listing > li > a:hover { color: #38ad7e; }
.footer-quick-links-listing > li > a:hover > svg { opacity: 1; margin-left: 5px; }
.footer-social-account-listing { display: flex; margin-bottom: 50px; }
.footer-social-account-listing > li { margin-right: 30px; padding-right: 30px; }
.footer-social-account-listing > li:last-child { margin-right: 0; padding-right: 0; }
.footer-social-account-listing > li > a { color: #dfdfdf; font: 1.4rem/normal "Unbounded-Regular"; position: relative; z-index: 1; }
.footer-social-account-listing > li > a::after {
	background-color: #dfdfdf;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	content: "";
	height: 8px;
	position: absolute;
	right: -30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 8px;
	z-index: -1;
}
.footer-social-account-listing > li:last-child > a::after { display: none; }
.footer-social-account-listing > li > a:hover { color: #38ad7e; }
.footer-logo-contact-listing { align-items: center; border: 2px solid #ffffff; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; display: flex; justify-content: space-between; margin-bottom: 30px; }
.footer-logo > a { display: block; padding: 0 30px; }
.footer-logo > a > img { width: 150px; }
.footer-call-email > span { color: #dfdfdf; display: block; font: 1.4rem/normal "Unbounded-Regular"; margin-bottom: 5px; }
.footer-call-email > h4 > a { color: #ffffff; display: inline-block; font: 2.4rem/normal "Unbounded-Regular"; }
.footer-logo-contact-sub-listing { display: flex; }
.footer-logo-contact-sub-listing > li { border-right: 2px solid #ffffff; padding: 40px 30px; }
.footer-logo-contact-sub-listing > li:last-child { border-right: 0; }
.footer-call-email > h4 > a:hover { color: #38ad7e; }
.copyright-info > p { color: #dfdfdf; font-size: 1.4rem; }
.copyright-info > p > span { color: #ffffff; }

	/*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

	/*------- Inner Banner Section Starts -------*/

.banner-inner-page-section { background: url("../images/banner.jpg") no-repeat 100% 65%/cover; position: relative; z-index: 1; }
.banner-inner-page-section::before { background-color: rgb(4 30 32 / 70%); content: ""; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; }

	/*------- Inner Banner Section Ends -------*/

	/*------- About Us Section Starts -------*/

.about-info-ap > p { color: #444444; margin-bottom: 15px; }
.about-info-ap > p:last-child { margin-bottom: 0; }

	/*------- About Us Section Ends -------*/

	/*------- Mission and Vision Section Starts -------*/

.mission-vision-section > .container-fluid { padding-top: 0; }
.mission-vision-info > h4 { color: #38ad7e; font: 2.4rem/normal "Unbounded-Medium"; margin-bottom: 10px; }
.mission-vision-info > p { margin-bottom: 20px; }
.mission-vision-info > p:last-child { margin-bottom: 0; }

	/*------- Mission and Vision Section Ends -------*/

	/*------- Testimonials Section Starts -------*/

.testimonial-section > .container-fluid { padding-bottom: 125px; }
.box-testimonials-info { background-color: #38ad7e; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; padding: 20px; }
.box-testimonials-info > p { border-bottom: 1px solid #c4c4c4; color: #ffffff; margin-bottom: 15px; padding-bottom: 15px; }
.media-left-testimonials { margin-right: 10px; }
.media-left-testimonials > img { border: 2px solid #ffffff; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; height: 70px; padding: 4px; width: 70px; }
.media-body-testimonials { vertical-align: middle; }
.media-body-testimonials > h5 { color: #ffffff; font: 1.8rem/1.2 "Unbounded-SemiBold"; }
.media-body-testimonials > p { color: #ffffff; font-size: 1.4rem; }

		/*------- Slick Slider Arrow CSS Starts -------*/

.testimonial-section .slick-initialized .slick-slide { padding: 0 15px; }
.testimonial-section .slick-prev { left: -25px; }
.testimonial-section .slick-next { right: -25px; }
.testimonial-section .slick-prev.slick-disabled,
.testimonial-section .slick-next.slick-disabled { border: 1px solid #cccccc; cursor: not-allowed; }
.testimonial-section .slick-prev,
.testimonial-section .slick-next { background-color: #041e20; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; height: 48px; margin-top: -25px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 48px; z-index: 1; }
.testimonial-section .slick-prev { bottom: -100px; left: 42%; top: auto; }
.testimonial-section .slick-next { bottom: -100px; right: 42%; top: auto; }
.testimonial-section .slick-prev.slick-disabled:hover,
.testimonial-section .slick-prev.slick-disabled:focus,
.testimonial-section .slick-next.slick-disabled:hover,
.testimonial-section .slick-next.slick-disabled:focus { background-color: transparent; }
.testimonial-section .slick-prev:hover,
.testimonial-section .slick-prev:focus,
.testimonial-section .slick-next:hover,
.testimonial-section .slick-next:focus { background-color: #38ad7e; }
.testimonial-section .slick-prev::before,
.testimonial-section .slick-next::before { color: #ffffff; font-family: "Font Awesome 5 Free"; font-weight: 900; opacity: 1; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.testimonial-section .slick-prev::before { content: "\f053"; }
.testimonial-section .slick-next::before { content: "\f054"; }
.testimonial-section .slick-prev.slick-disabled::before,
.testimonial-section .slick-next.slick-disabled::before,
.testimonial-section .slick-prev.slick-disabled:hover::before,
.testimonial-section .slick-next.slick-disabled:hover::before,
.testimonial-section .slick-prev.slick-disabled:focus::before,
.testimonial-section .slick-next.slick-disabled:focus::before { color: #cccccc; }
.testimonial-section .slick-prev:hover::before,
.testimonial-section .slick-next:hover::before,
.testimonial-section .slick-prev:focus::before,
.testimonial-section .slick-next:focus::before { color: #ffffff; }
.testimonial-section .slick-next.slick-disabled:before,
.testimonial-section .slick-prev.slick-disabled:before { opacity: 1; }

		/*------- Slick Slider Arrow CSS Ends -------*/

	/*------- Testimonials Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Services Page Starts -------*/

	/*------- Services Section Starts -------*/

.technologies-section > .container-fluid { padding-bottom: 40px; }
.box-services-sp { background-color: #ffffff; border: 2px solid #c4c4c4; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 50px; padding: 30px 20px 35px; }
.box-services-sp:last-child { margin-bottom: 0; }
.box-services-sp-info > h4 { color: #041e20; font: 1.8rem/1.4 "Unbounded-Medium"; margin-bottom: 5px; text-transform: uppercase; }
.box-services-sp-info > p:nth-child(2) { margin-bottom: 10px; }
.box-services-sp-info > p > a { color: #041e20; font: 1.6rem/1.2 "Unbounded-Medium"; padding-bottom: 10px; position: relative; text-transform: uppercase; z-index: 1; }
.box-services-sp-info > p > a::after { background-color: #041e20; bottom: 0; content: ""; height: 2px; left: 50%; position: absolute; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 50%; z-index: 1; }
.box-services-sp-info > p > a:hover { color: #38ad7e; }
.box-services-sp-info > p > a:hover::after { background-color: #38ad7e; width: 100%; }
.box-services-sp:hover .box-services-sp-icon::after { right: 20px; }

	/*------- Services Section Ends -------*/

/*------- Services Page Ends -------*/

/*------- Individual Services Page Starts -------*/

	/*------- Individual Services Section Starts -------*/

.individual-services-info > p { margin-bottom: 20px; }
.individual-services-info > p:last-child { margin-bottom: 0; }

	/*------- Individual Services Section Ends -------*/

	/*------- Work Process Section Starts -------*/

.work-process-section { background-color: #041e20; }
.work-process-section > .container-fluid { padding-bottom: 40px; }
.box-work-process { border: 2px solid #38ad7e; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; margin-bottom: 30px; overflow: hidden; position: relative; -webkit-transition: 0.25s ease; -moz-transition: 0.25s ease; -ms-transition: 0.25s ease; -o-transition: 0.25s ease; transition: 0.25s ease; z-index: 1; }
.box-work-process-name { bottom: 30px; left: 30px; position: absolute; -webkit-transition: 0.25s ease; -moz-transition: 0.25s ease; -ms-transition: 0.25s ease; -o-transition: 0.25s ease; transition: 0.25s ease; z-index: -1; }
.box-work-process-name > h5 { color: #ffffff; font: 1.8rem/normal "Unbounded-SemiBold"; margin-bottom: 10px; }
.box-work-process-name > p { color: #c4c4c4; font-size: 1.4rem; padding-right: 30px; }
.box-work-process-image > img { -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); -o-transform: translateY(100%); transform: translateY(100%); -webkit-transition: 0.25s ease; -moz-transition: 0.25s ease; -ms-transition: 0.25s ease; -o-transition: 0.25s ease; transition: 0.25s ease; width: 100%; }
.box-work-process:hover { background: radial-gradient(#38ad7e,#041e20); border: 2px solid #ffffff; }
.box-work-process:hover > .box-work-process-name { bottom: 0; transform: translateY(100%); -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); -o-transform: translateY(100%); }
.box-work-process:hover > .box-work-process-image > img { transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }

	/*------- Work Process Section Ends -------*/

	/*------- Estimation Section Starts -------*/

.box-estimation { background-color: rgb(56 173 126 / 10%); -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; padding: 50px; }
.estimation-section-heading > h4 { color: #041e20; font: 2.4rem/1.4 "Unbounded-SemiBold"; margin: 20px 0 30px; }
.estimation-section-heading > h4 span { color: #38ad7e; }
.estimation-info > p { margin-bottom: 30px; }

	/*------- Estimation Section Ends -------*/

/*------- Individual Services Page Ends -------*/

/*------- Technologies Page Starts -------*/

	/*------- Technologies Section Starts -------*/

.tech-listing { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; justify-content: center; margin-bottom: 40px; }
.tech-listing > li { background-color: #ffffff; border: 2px solid #041e20; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; cursor: pointer; font: 1.6rem/1.4 "Unbounded-Medium"; margin-right: 15px; padding: 10px 15px; text-align: center; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.tech-listing > li.active,
.tech-listing > li:hover { background-color: #041e20; color: #ffffff; }
.box-technologies { background-color: #ffffff; border: 2px solid #041e20; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; margin-bottom: 30px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-technologies-icon { padding: 30px; text-align: center; }
.box-technologies-icon > svg { height: 100px; width: 100px; }
.box-technologies-info > h5 { background-color: #041e20; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -ms-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; color: #ffffff; font: 1.8rem/1.4 "Unbounded-SemiBold"; padding: 10px; text-align: center; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-technologies:hover { border: 2px solid #38ad7e; }
.box-technologies:hover > .box-technologies-info > h5 { background-color: #38ad7e; color: #ffffff; }

	/*------- Technologies Section Ends -------*/

/*------- Technologies Page Ends -------*/

/*------- Work Page Starts -------*/

	/*------- Work Section Starts -------*/

.work-section > .container-fluid { padding-bottom: 40px; }
.box-work {margin-bottom: 30px; }
.box-work > a { display: block; }
.box-work-image { -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; margin-bottom: 15px; overflow: hidden; position: relative; }
.box-work-image > img { -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 100%; }
.box-work-heading > h5 { color: #041e20; font: 1.8rem/1.4 "Unbounded-Medium"; text-align: center; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-work-heading > h5 > span { color: #041e20; display: block; font: 1.6rem/1.4 "Unbounded-Regular"; letter-spacing: 0.5px; margin-top: 5px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-work > a:hover > .box-work-image > img { -webkit-filter: brightness(0.75); filter: brightness(0.75); -webkit-transform: scale(1.2) rotate(7deg); -moz-transform: scale(1.2) rotate(7deg); -ms-transform: scale(1.2) rotate(7deg); -o-transform: scale(1.2) rotate(7deg); transform: scale(1.2) rotate(7deg); }
.box-work > a:hover > .box-work-heading > h5,
.box-work > a:hover > .box-work-heading > h5 > span { color: #38ad7e; }

	/*------- Work Section Ends -------*/

/*------- Work Page Ends -------*/

/*------- Blogs Page Starts -------*/

	/*------- Blog Section Starts -------*/

.blog-bgp-section { background-color: rgb(56 173 126 / 10%); }
.blog-bgp-section > .container-fluid { padding-bottom: 40px; }

	/*------- Blog Section Ends -------*/

/*------- Blogs Page Ends -------*/

/*------- Blog Details Page Starts -------*/

	/*------- Blog Section Starts -------*/

.box-individual-blog-image > img { -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; margin-bottom: 30px; width: 100%; }
.box-individual-blog-info > h5 { color: #38ad7e; font: 1.8rem/normal "Unbounded-SemiBold"; margin-bottom: 15px; }
.box-individual-blog-info > p { margin-bottom: 15px; }
.box-individual-blog-info > p:last-child { margin-bottom: 0; }
.recent-articles-heading > h5 { color: #041e20; font: 1.8rem/1.4 "Unbounded-SemiBold"; margin-bottom: 20px; }
.box-recent-articles { border: 2px solid #c4c4c4; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; }
.recent-articles-listing > li { border-bottom: 2px solid #c4c4c4; padding: 15px; }
.recent-articles-listing > li:last-child { border-bottom: 0; }
.recent-articles-listing > li:last-child { margin-bottom: 0; }
.recent-articles-listing > li > a { color: #444444; display: block; font: 1.6rem/normal "Unbounded-Regular"; text-decoration: underline; }
.recent-articles-listing > li > a > img { -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; margin-bottom: 15px; width: 100%; }
.recent-articles-listing > li > a > span { display: block; }
.recent-articles-listing > li > a:hover { color: #38ad7e; }

	/*------- Blog Section Ends -------*/

/*------- Blog Details Page Ends -------*/

/*------- Career Page Starts -------*/

	/*------- Career Section Starts -------*/

.box-career { border: 2px solid #0e5f66; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; cursor: pointer; margin-bottom: 30px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-career:hover { -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); transform: translateY(-10px); }
.box-career > a > h5 { background-color: #0e5f66; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -ms-border-radius: 10px 10px 0 0; -o-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; color: #ffffff; font: 1.8rem/1.4 "Unbounded-Medium"; padding: 15px; }
.box-career-info { padding: 15px; }
.box-career-info > p { color: #0e5f66; font: 1.6rem/1.4 "Unbounded-Medium"; margin-bottom: 5px; }
.box-career-info > p:last-of-type { margin-bottom: 0; }
.box-career-info > p > span { font-family: "Unbounded-SemiBold"; }

	/*------- Career Section Ends -------*/

	/*------- Job Responsibilities Section Starts -------*/

.jd-listing { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; justify-content: center; margin-bottom: 50px; }
.jd-listing > li { margin-right: 15px; }
.jd-listing > li:last-child { margin-right: 0; }
.jd-listing > li > a { background-color: #ffffff; border: 2px solid #0e5f66; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; color: #0e5f66; display: block; font: 1.6rem/1.6 "Unbounded-Medium"; padding: 10px 15px; }
.jd-listing > li.active > a,
.jd-listing > li > a:hover { background-color: #0e5f66; color: #ffffff; }
.box-job-responsibilities { background-color: rgb(14 95 102 / 5%); -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; padding: 30px; }
.box-job-responsibilities.active { display: block; }
.box-job-responsibilities.hide { display: none; }
.job-responsibilities > h6 { color: #041e20; font: 1.4rem/1.4 "Unbounded-Regular"; margin-bottom: 10px; text-transform: uppercase; }
.job-responsibilities > h4 { color: #0e5f66; font: 2.4rem/1.4 "Unbounded-Medium"; margin-bottom: 5px; }
.job-responsibilities > p { color: #041e20; font: 1.6rem/1.4 "Unbounded-Regular"; margin-bottom: 20px; }
.job-responsibilities-in-detail > h4 { color: #041e20; font: 1.8rem/1.4 "Unbounded-Medium"; margin-bottom: 15px; }
.job-responsibilities-listing { margin-bottom: 20px; }
.job-responsibilities-listing > li { color: #041e20; display: block; font: 1.6rem/1.7 "Unbounded-Regular"; margin-bottom: 10px; padding-left: 25px; position: relative; }
.job-responsibilities-listing > li::before { border: 2px solid #041e20; -webkit-border-radius: 0 4px; -moz-border-radius: 0 4px; -ms-border-radius: 0 4px; -o-border-radius: 0 4px; border-radius: 0 4px; content: ""; display: block; height: 14px; left: 0; position: absolute; top: 6px; width: 14px; }
.job-responsibilities-listing > li:last-child { margin-bottom: 0; }

		/*------- Career Form Section Starts -------*/

.career-form-section { display: none; margin-top: -30px; }
.career-form-section > .container-fluid { padding-top: 0; }
.career-form { background-color: rgb(14 95 102 / 5%); -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; padding: 30px; }
.form-control-career { background-color: transparent; }

		/*------- Career Form Section Ends -------*/

		/*------- Custom Input File CSS Starts -------*/

.filelabel { border: 2px solid #041e20; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; cursor: pointer; display: block; margin: 0 0 30px; padding: 20px; text-align: center; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; width: 100%; }
.filelabel i { display: block; font-size: 3rem; padding-bottom: 5px; }
.filelabel i,
.filelabel .title { color: #041e20; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; }
.filelabel .title { color: #041e20; font: 1.8rem/1.4 "Unbounded-Medium"; }
.filelabel .title > span { display: block; font: 1.4rem/1.4 "Unbounded-Regular"; }
.filelabel:hover { border: 2px solid #38ad7e; }
.filelabel:hover i,
.filelabel:hover .title { color: #38ad7e; } 
#FileInput { display:none; }
		
		/*------- Custom Input File CSS Ends -------*/

	/*------- Job Responsibilities Section Ends -------*/

/*------- Career Page Ends -------*/

/*------- Contact Us Page Starts -------*/

	/*------- Contact Us Section Starts -------*/

.box-contact-info { border: 2px solid #041e20; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; margin: 50px 0 70px; padding: 60px 30px 30px; position: relative; z-index: 1; }
.box-contact-info-icon { background-color: #ffffff; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; height: 70px; left: 50%; line-height: 70px; position: absolute; text-align: center; top: -35px; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 70px; z-index: 1; }
.box-call-contact-info { border-color: #0e5f66; }
.box-call-contact-info > div { background-color: #0e5f66; }
.box-email-contact-info { border-color: #38ad7e; }
.box-email-contact-info > div { background-color: #38ad7e; }
.box-address-contact-info { border-color: #8bc34a; }
.box-address-contact-info > div { background-color: #8bc34a; }
.box-contact-info-icon > i { color: #ffffff; font-size: 2.4rem; line-height: 70px; }
.box-contact-info > p { font-family: "Unbounded-Medium"; text-align: center; }
.box-contact-info > p > a { color: #041e20; }
.contact-us-map { border: 2px solid #041e20; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; height: 400px; margin-top: 70px; padding: 15px; width: 100%; }

	/*------- Contact Us Section Ends -------*/

/*------- Contact Us Page Ends -------*/